//@import '~bootstrap-sass/assets/stylesheets/bootstrap';
//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import './variables';
@import './animation';

body, html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  position: static;
}

.d3-tip {
  line-height: 1;
  padding: 8px;
  background-color: $color-bg-tooltip;
  border-radius: 8px;

  span, p {
    color: white
  }
}

#geo-chart, #chart {
  circle {
    stroke: white;
  }
}

#map-contaniner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#geo-chart {
  width: 100%;
  height: 100%;

  .complaints {
    position: absolute;
  }
  #gvis {
    position: absolute;
    top: 0;
    left: 0;
  }

  .gnode {
    &.before-complaint {
      circle {
        fill: #379dff;
      }
    }
    &.during-complaint {
      circle {
        @extend .pulse-animation;
        fill: #15336d;
        stroke: #FF6347;
      }
    }
    &.after-complaint {
      circle {
        fill: none;
        stroke: $color-lighter-black;
      }

    }
  }
}

#chart {
  position: fixed;
  right: 30%;
  top: 20px;
  width: 25%;
  margin-right: 50px;
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 4px 4px #99999F;
  background-color: rgba(255, 255, 255, 0.6);

  line.link {
    stroke: $color-link;
    &.highlight {
      stroke: $color-link-highlight;
    }
  }

  .node {
    text {
      font-size: 6px !important;
      transition: color 2s, font-size 1s;;
      &.active {
        font-size: 12px !important;
        fill: red;
      }
    }
  }

}

#timeline {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  .header, .content {
    background-color: $color-bg-timeline;
    margin: 0;
  }

  .header {
    //position: fixed;
    //top: 0;
  }

  .content {
    min-height: 1000px;

    hr {
      //border-color: $color-link;
      border: 0;
      margin: 0 1px;
      //border-bottom: 0;
    }
    .card {
      opacity: 0.9;
      padding: 5px;
      min-height: 50px;
      margin-bottom: 5px;
      margin-top: 5px;
      //transition: transform 1s ease-out, background 1s, height 1s ease;
      transition: all 300ms ease-out;
      display: table;
      clear: both;
      background-color: $color-bg-timeline;

      .tag {
        float: left;
        padding: 5px;
        width: $officer-tag-width;
        color: darkslategray;
        height: 20px;
        font-size: 12px;
      }
      .title {
        float: left;
        width: $timeline-date-width;
        padding: 5px;
        color: darkred;
        height: 20px;
        font-size: 16px;
      }
      .description {
        float: left;
        width: $description-width;
        padding: 5px;
        color: black;
        font-size: 12px;
        min-height: 100px;
      }
      &.active {
        opacity: 1;
        transform: scale(1.1);
        transform-origin: right;
        background: white;
        box-shadow: 0 0 150px #000000;
        .title {
          color: red;
        }
      }

      .officerName {
        text-decoration: underline;
        color: blue;
      }

      .complaintId {
        text-decoration: underline;
        color: red;
      }
    }
  }
}

#story-collapse-page {
  .content .card {
    height: 50px;
    display: block;
    overflow-y: hidden;
    .description {
      //display: none;
      visibility: hidden;
      transition: visibility 0s, opacity 1s ease-in;
    }

    &.active {
      //overflow-y: visible;
      .description {
        visibility: visible;
        opacity: 1;
        //display: inherit;
      }
    }
  }
}
