$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import './variables';

.d3-tip {
  line-height: 1;
  padding: 8px;
  background-color: $color-bg-tooltip;
  border-radius: 8px;

  span, p {
    color: white
  }
}

#chart {
  line.link {
    stroke: $color-link;
    &.highlight {
      stroke: $color-link-highlight;
    }
  }
}
