$color-link: #AFAFAF;
$color-link-highlight: red;

$color-bg-tooltip: #999999;
$color-bg-timeline: rgba(255, 255, 255, 0.6);
$color-brown-light: #D1D1D1;


$color-lighter-black: rgba(0,0,0,0.2);


$color-stroke-highlight: #ff0000;