{
    "parser": "babel-eslint",
    "rules": {
        "indent": [
            2,
            2,
            {"SwitchCase": 2}
        ],
        "quotes": [
            2,
            "single"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-unused-vars": [
            2,
            {
                "args": "none"
            }
        ],
        "no-multi-spaces": [
            2
        ],
        "max-len": [
            2,
            120,
            2
        ],
        "jsx-quotes": [
            2,
            "prefer-single"
        ],
        "camelcase": [
            2,
            {"properties": "always"}
        ],
        "eol-last": [
            2
        ],
        "no-trailing-spaces": [
            2
        ],
        "space-before-function-paren": [
            2,
            {
                "anonymous": "always",
                "named": "never"
            }
        ],
        "keyword-spacing": 2,
        "space-before-blocks": 2,
        "vars-on-top": 2,
        "comma-spacing": 2,
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }],
        "object-curly-spacing": [2, "always"],
        "computed-property-spacing": [2, "never"],
        "array-bracket-spacing": [2, "never"]
    },
    "env": {
        "browser": true,
        "node": true,
        "jquery": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "impliedStrict": true,
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "extends": [
        "eslint:recommended"
    ],
    "globals": {
        "Intercom": false,
        "LIVE_TEST": false,
        "browser": false,
        "Promise": false
    }
}
